<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ders Kitapları</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/mediaquery.css">
    <link rel="stylesheet" href="../styles/dersKitapları.css">
</head>
<body>
    <!--Ana Kısım Başlangıç-->
    <div class="navbar">
        <a href="index.html"><img class="logo" src="../img/logo.png"></a>
        <div class="navbaritems">
            <a href="index.html" class=" navbarİtems hakkımızda"><h2>Ana Sayfa</h2></a>
            <a href="ciftTırnak.html" class=" navbarİtems iletişim"><h2>Çift Tırnak</h2></a>
            <a href="#" class=" symbol onBar" onclick="sidebarOn()"><i class="fa-solid fa-bars"></i></a>
            <a href="dersKitaplari.html" class="navbarİtems dersKitaplari"><h2>Ders Kitapları</h2></a>
        </div>
    </div>
    <div class="sidebar" id="sidebar">
        <div class="sidebaritems">
            <a class=" symbol offBar" onclick="sidebarOff()"><i class="fa-solid fa-bars"></i></a>
            <a href="index.html" class=" sidebarİtems sideAnasayfa"><h4>Ana Sayfa</h4></a>
            <a href="ciftTırnak.html" class=" sidebarİtems sideCifttirnak"><h4>Çift Tırnak</h4></a>
            <a href="dersKitaplari.html" class="sidebarİtems sidedersKitaplari"><h2>Ders Kitapları</h2></a>
        </div>
    </div>
    <div class="footer">
        <p>© 2024 Omar Codes - Tüm Hakları Saklıdır.   |   Omar Codes </p>
    </div>
    <script src="../js/sidebar.js"></script>
    <!--Ana Kısım Bitiş-->
    <div class="onbirKitap">
        <h1>11.Sınıf Ders Kitapları</h1>
        <p>Mobil uygulamalar kitabını indirmek için <span><a href="../Download/11.Sınıf Ders Kitapları/Mobil_Uygulamalar_11_3.pdf" download="">Tıklayınız</a></span></p>
        <p>Web tabanlı uygulama geliştirme kitabını indirmek için <span><a href="../Download/11.Sınıf Ders Kitapları/Web_Tabanli_Uygulama_Gelistirme_11_3.pdf"download>Tıklayınız</a></span></p>
        <p>Web tabanlı icerik yönetimi kitabını indirmek için <span><a href="../Download/11.Sınıf Ders Kitapları/Web_Tabanli_Icerik_Yonetimi_11-12_3.pdf" download="">Tıklayınız</a></span></p>
        <p>Grafik ve canlandırma kitabını indirmek için <span><a href="../Download/11.Sınıf Ders Kitapları/Grafik_ve_Canlandirma_11_3.pdf" download="">Tıklayınız</a></span></p>
        <hr>
    </div>
</body>
</html>